/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
// body.mat-typography {
    // user-select: auto !important;
    // pointer-events: auto !important;
//   }

body.mat-typography {
    margin: 0 !important;
    padding: 0 !important;
    overflow: auto !important;
    height: auto !important;
    width: auto !important;
    position: static !important;
    z-index: auto !important;
    pointer-events: auto !important;
  }
